<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
{% extends "app2/base.html" %}

<body>
{% block body_blok %}



<div class="jumbotron">
    {% if registered %}
     <h1> registered </h1>
    {% else %}
        <h1>Register here </h1>
    <h3> fill the form </h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="" value="Register">

    </form>

    {% endif %}


</div>

{% endblock %}


</body>
</html>